@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg'); /* Add a background image related to planting */
  background-size: cover;
  background-position: center;
}

#auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Make the background slightly transparent */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 50;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use the Roboto font for inputs */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use the Roboto font for buttons */
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007BFF;
  margin-top: 10px;
  display: block;
  text-align: center;
}

#content-container {
  display: none;
  text-align: center;
}

#message-box {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 50;
}