@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* Add a ticker-like font */

html, body {
  height: 100%; /* Ensure the body and html take the full height */
  overflow: hidden; /* Prevent any scrolling */
}

body {
  font-family: 'Paytone One', sans-serif;
  margin: 0; /* Remove margin to prevent overflow */
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg'); /* Add a background image related to planting */
  background-size: cover;
  background-position: center;
  flex-direction: column; /* Ensure proper alignment on mobile devices */
  overflow: hidden; /* Prevent any scrolling */
}

body.home {
  background-image: none; /* Remove background image */
  background-color: #60752d; /* Set background color to 60752d */
}

#auth-container, #content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; /* Adjust width for mobile devices */
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7); /* Make the background slightly transparent */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px; /* Add margin to create space on the sides */
  color: #60752d; /* Change text color to olive */
}

#coleta-container, #user-info-container, #search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px auto; /* Center the component horizontally */
  color: #60752d;
}

#coleta-container input, #coleta-container button,
#user-info-container button,
#search-container input, #search-container button {
  width: calc(100% - 40px); /* Adjust width to fit within the component's padding */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Paytone One', sans-serif;
}

#coleta-container button, #user-info-container button, #search-container button {
  background-color: #f66d87;
  color: #fff;
  border: none;
  cursor: pointer;
}

#coleta-container button:hover, #user-info-container button:hover, #search-container button:hover {
  background-color: #e55c7a;
}

form {
  width: 100%;
  padding: 0 10px; /* Add padding to create space inside the form */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

input, button {
  width: calc(100% - 20px); /* Adjust width to fit within the form's padding */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Paytone One', sans-serif; /* Use the Roboto font for inputs and buttons */
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007BFF;
  margin-top: 10px;
  display: block;
  text-align: center;
}

#message-box {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 50;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95); /* Make the background darker */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000;
}

#loading-overlay.visible {
  visibility: visible;
}

#loading-heart {
  width: 100px; /* Set fixed width */
  height: 100px; /* Set fixed height */
  background: url('coracao-low.png') no-repeat center center;
  background-size: contain;
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(246, 109, 135, 0.99); /* Make the sidebar background slightly more opaque */
  color: #f3e2b8; /* Change text color to improve readability */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow: hidden; /* Ensure the sidebar doesn't overflow */
}

#sidebar.visible {
  transform: translateX(0);
}

#sidebar a {
  color: #f3e2b8; /* Change link color to improve readability */
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: block;
  overflow: hidden; /* Ensure the link doesn't overflow */
}

#sidebar a:hover {
  background-color: rgba(96, 117, 45, 0.8); /* Change hover background color to improve visibility */
  overflow: hidden; /* Ensure the hover effect doesn't overflow */
}

#logout-container {
  margin-top: auto; /* Push the logout button to the bottom */
  width: 100%;
  text-align: center;
  padding-bottom: 110px; /* Add padding to the bottom to avoid overlap with tabs */
}

#logout-container a {
  color: #f3e2b8; /* Ensure the logout link color matches the sidebar links */
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

#logout-container a:hover {
  background-color: rgba(96, 117, 45, 0.8); /* Change hover background color to improve visibility */
}

#menu-btn {
  position: fixed;
  top: 5px;
  left: 10px;
  background-color: #f3e2b8;
  color: #60752d;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  width: 40px; /* Set fixed width */
  height: 40px; /* Set fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%; /* Add rounded borders */
}

#menu-btn:hover {
  background-color: #f3e2b8;
}

#menu-btn svg {
  width: 24px;
  height: 24px;
}

#tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(96, 117, 45, 0.9); /* Adjust background opacity to 90% */
  padding: 10px 0;
  z-index: 1000;
}

.tab-button {
  background: none;
  border: none;
  color: #f3e2b8;
  font-size: 20px;
  cursor: pointer;

}

.tab-button:hover {
  color: #ddd;
}

.tab-button.active {
  color: #f66d87; /* Change color of active tab icon to gold */
  background-color: #60752d;
}

.tab-content {
  padding-bottom: 60px; /* Add padding to avoid content being hidden behind tabs */
  background: #f6f6f2; /* Make the background of the tab content more transparent */
  width: 100%; /* Ensure the content takes the full width */
  height: calc(100% - 70px); /* Ensure the content takes the full height minus the top and bottom margins */
  position: absolute; /* Position the content absolutely */
  top: 70px; /* Add top margin to avoid being hidden behind the top bar */
  left: 0; /* Align to the left */
  color: olive;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition effects */
  opacity: 0;
  transform: translateY(20px);
  display: none; /* Ensure the content is hidden initially */
  overflow-y: auto; /* Ensure the content is scrollable */
}

.tab-content-padded {
  padding: 20px; /* Add padding to the tab content */
  background: #f6f6f2; /* Ensure the background color is maintained */
}

.tab-content.show {
  display: block; /* Ensure the content is displayed */
}

.tab-content.active {
  opacity: 1;
  transform: translateY(0);
}

#floating-image {
  position: fixed; /* Change to fixed to ensure it stays in place */
  top: 15px; /* Adjust top position */
  right: 20px; /* Adjust right position */
  width: 40px; /* Set fixed width */
  height: 40px; /* Set fixed height */
  z-index: 1001;
  filter: drop-shadow(0 0 1px #f66d87) drop-shadow(0 0 1px #f66d87) drop-shadow(0 0 1px #f66d87) drop-shadow(0 0 1px #f66d87);
  animation: glow 1.5s ease-in-out infinite alternate;
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 1px olive) drop-shadow(0 0 2px olive) drop-shadow(0 0 3px olive) drop-shadow(0 0 4px olive);
  }
  to {
    filter: drop-shadow(0 0 2px #f66d87) drop-shadow(0 0 2px #f66d87) drop-shadow(0 0 3px #f66d87) drop-shadow(0 0 4px #f66d87);
  }
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px; /* Set height to 70px */
  background-color: #60752d; /* Set background color to olive */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Paytone One", sans-serif; /* Use a more suitable font */
  font-weight: 400;
  font-style: normal;
  font-size: 10px; /* Keep font size */
  color: #f3e2b8; /* Set font color to gold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

#top-bar-adm {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px; /* Set height to 70px */
  background-color: #f66d87; /* Set background color to olive */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Paytone One", sans-serif; /* Use a more suitable font */
  font-weight: 400;
  font-style: normal;
  font-size: 10px; /* Keep font size */
  color: #f3e2b8; /* Set font color to gold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set height to 30px */
  background-color: #60752d; /* Set background color to olive */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Paytone One", sans-serif; /* Use a more suitable font */
  font-weight: 400;
  font-style: normal;
  font-size: 10px; /* Keep font size */
  color: #f3e2b8; /* Set font color to gold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  overflow: hidden; /* Prevent overflow */
}

#news-ticker {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-family: 'VT323', monospace; /* Use the ticker-like font */
  font-size: 16px;
}

#news-ticker p {
  display: inline-block;
  animation: ticker 40s linear infinite; /* Adjust the duration to 40s */
  animation-delay: 0s; /* Start immediately */
}

#news-ticker p span {
  color: #f66d87; /* Color only the numbers */
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#logout-btn-conta {
  background-color: #f66d87;
}

#plant-progress {
  text-align: center;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin: 10px 0;
}

#progress-bar {
  width: 0;
  height: 20px;
  background-color: #4CAF50;
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}

#days-left {
  font-size: 16px;
  color: #60752d;
}

#apply-seedling {
  text-align: center;
  margin-top: 20px;
}

#apply-seedling button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#apply-seedling button:hover {
  background-color: #45a049;
}

#user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px auto; /* Center the component horizontally */
  color: #60752d;
}

#user-info-container button {
  background-color: #f66d87;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#user-info-container button:hover {
  background-color: #e55c7a;
}

#search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px auto; /* Center the component horizontally */
  color: #60752d;
}

#search-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Paytone One', sans-serif;
}

#search-container button {
  background-color: #f66d87;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

#search-container button:hover {
  background-color: #e55c7a;
}

.plant-card {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Adjust padding */
  margin: 10px 0; /* Reduce margin to create more space for a list of cards */
  border-radius: 10px;
  position: relative; /* Add relative positioning */
  min-height: 120px; /* Ensure enough height to avoid overlap */
}

.plant-thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.date-info {
  font-size: 10px;
  position: absolute;
  bottom: 10px; /* Position at the bottom of the card */
}

.date-info.left {
  left: 20px; /* Align with the left padding */
  color: #4CAF50;
}

.date-info.right {
  right: 20px; /* Align with the right padding */
  color: gray; /* Change color to gray */
}
